@charset "UTF-8";

/*====================================================
    Page Specific Styles
====================================================*/

// Main themes

.dark {
  background: $black;
  color: white;
}

.light {
  background: $lightest-grey;
  color: $black;
}

.orange {
  background: $primary-color;
  color: white;
}

$nav-button-size: 2.5rem;

.page-close,
.back-home {

  // Placement
  position: fixed;
  top: 1rem;

  // Base Structure
  color: inherit;
  filter: drop-shadow(0 1px 1px $black);
  background: transparent;
  height: $nav-button-size;
  width: $nav-button-size;
  border-radius: 100%;
  z-index: 1000;

  &:before {

    font: 1.25rem $sans-font;
  }

  &:hover,
  &:active {
    color: $primary-color;
  }
}

.page-close {
  right: 1rem;
  &:before { content: "✕"; }
  // Repsonsive
  @include small {
    background: fade-out($primary-color, 0.25);
    color: white !important;
  }
}

.back-home {
  left: 1rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.2;
  color: inherit !important;
  transition: opacity 300ms;
  filter: brightness(0.5);
  &:before {
    content: url(../images/ui/weld-logo-medium.svg);
    @include small {
      content: url(../images/ui/weld-logo-small.svg);
    }
  }
  &:hover {
    opacity: 1;
  }

  &.reverse {
    filter: brightness(1);
  }
}
