<section class="column center">
  <h3>Get Notified of New Posts!</h3>
  <!-- MailChimp Signup -->
  <form class="input-group row" action="//weld.us4.list-manage.com/subscribe/post?u=065b63f81851e09661ae5d9e7&amp;id=6c846d786f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <input class="input input-group-input" type="email" placeholder="notifyme@this.email" name="EMAIL" id="mce-EMAIL" required>
    <input class="button input-group-button" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
  </form>
</section>