{% extends 'templates/partials/base.html' %}
{% block scheme %}light{% endblock %}
{% block title %}Blog{% endblock %}

{% block content %}
  <div class="container column">
    {# The first thing we do is call blog data from the CMS. #}
    {% set data = cms.articles %}

    {# Next we sort the data by publish_date. The true bit reverses it so it's newest first. #}
    {% set data = data|sort('publish_date', true) %}

    {# This is how you set pagination. It's always important to do this after your sort. #}
    {% set data = paginate(data, 10) %}

    <h1 class="text-align-center"><a href="{{ url('articles') }}">The WELD Blog</a></h1>

    {# Search Input #}
    {% include 'templates/partials/search.html' %}

    {# TODO: Finish converting blog posts and remove slice limit below #}
    <ul class="no-margin no-padding">
      {% for object in data %}
      <li class="list-style-none bkgd-cover bkgd-center bkgd-no-repeat clr-white rounded overflow-hidden margin-b position-r depth-1" style="background-image: url( {{ object.cover_image.url}} )">
        <a class="column padding" href="{{ url(object) }}">
          {% if object.author %}<img class="avatar margin-b" src="{{ object.author.avatar.url }}" alt="Image of {{ object.author.name }}">{% endif %}
          <h1>{{ object.name }}</h1>
          <p>{{ object.intro|striptags }}</p>
        </a>
        <span class="overlay bkgd-trans-black depth-0" style="background-color: {{ object.overlay }}; opacity: {{ object.opacity }};"></span>
      </li>
      {% endfor %}
    </ul>

    {# Pagination #}
    {% include 'templates/partials/paginator.html' %}

  </div>
{% endblock %}