/*====================================================
    Base Page Style
====================================================*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  width: 100%;
}

body {
  background: $black;
  font-size: 100%;
  animation: fade-in 1s;
}

::selection {
  background: $primary-color;
  color: white;
}

/*====================================================
    Container
====================================================*/

$max-width: 1200px;

.page-container {
  max-width: $max-width;
  margin: 0 auto;
}

.container {
  padding: 4rem 1.5rem 5rem 1.5rem;
  padding-bottom: 5rem;
  max-width: 60rem;
  margin: 0 auto;
  @include large {
    padding: 4rem 1.5rem 8rem 1.5rem;
  }
}
