{% extends 'templates/base.html' %}
{% block title %}Digital Membership{% endblock %}
{% block viewport %}initial-scalable=yes{% endblock %}

{% block content %}
<a href="/" class="page-close cell center reverse"></a>
<a href="/" class="back-home cell center reverse"></a>

  <section class="section-1"></section>
  <section class="section-2"></section>
  <section class="section-3"></section>
  <section class="section-4"></section>
  <section class="section-5"></section>
  <a href="/apply"><section class="section-6"></section></a>

{% endblock %}