{% extends 'templates/base.html' %}
{% block title %}Digital Membership{% endblock %}

{% block content %}

  <a href="/" class="page-close column center"></a>
  <a href="/" class="back-home cell center"></a>

  <section class="section-1 text-align-center overflow-hidden">
    <img class="logomark" src="/static/images/welderwire/weld-logo-87.png">
    <h1 class="uppercase tracked">Create with the world’s best people</h1>
    <h2 class="sans-font uppercase tracked important">Now from anywhere in the universe</h2>
    <div class="bottom">
      <h3 class="members-screen-label sans-font uppercase tracked">The WELD Digital Membership</h2>
      <img class="members-screen" src="/static/images/welderwire/members-page.jpg" alt="">
    </div>
  </section>
  <section class="section-2 text-align-center">
    <div class="container">
      <h1 class="sans-font thin important">We believe we’re all made to create and that we do our best work when we create together.</h1>

      <p class="">Digital WELDERS get access to our private social network, tons of discounts on awesome products and services, day passes to our physical locations, discounted rates on studio rentals, a chance to get jobs through our trusted network and a whole lot more.</p>
    </div>
  </section>
  <section class="section-3"></section>
  <section class="section-4"></section>
  <section class="section-5"></section>
  <a href="/apply"><section class="section-6"></section></a>

{% endblock %}