{% extends 'templates/partials/base.html' %}
{% block title %}{{ cms.gallery.name }}{% endblock %}

{% block content %}

<a href="http://elisafisher.com/" class="credit-block depth-10">Images by Elisa Fisher</a>
<div class="gallery-overlay fullscreen"></div>
<div class="gallery-container row">
  {% for image in cms.gallery.gallery %}
  <a href="{{ image|imageSize(1200) }}" class="gallery-thumbnail swipebox">
    <img class="gallery-image" src="{{ image|imageSize(800) }}">
  </a>
  {% endfor%}
</div>
{% endblock %}
