{% extends 'templates/base.html' %}
{% block content %}
  <main class="intro-cover row center" data-vide-bg="mp4: /static/images/video/intro-video.mp4, poster: /static/images/video/intro-video-poster.jpg" data-vide-options="posterType: jpg">
    
    <div class="action-links">
      <a href="http://welderwire.co/" target="_blank">Sign In</a>
    </div>

    <span class="intro-wrap optical-center">
      <img class="logo fade-down" src="/static/images/ui/weld-logo.svg" alt="WELD">
      <span class="intro js-typetype" data-typetype-text="{{ cms.homepage.intro }}"></span>
      <a href="/community" class="main-cta button-white opacity-0">{{ cms.homepage.cta }}</a>
    </span>

    <div class="countdown-wrap row center">        
      <span id="js-countdown" class="countdown"></span>
    </div>

  </main> <!-- intro-cover -->

  <div class="nav column">
    <span class="nav-item cell"><a href="/memberships" class="nav-link cell center">Membership Types</a></span>
    <span class="nav-item cell"><a href="/apply" class="nav-link cell center">Apply For Membership</a></span>
    <span class="nav-item cell"><a href="/bookings" class="nav-link cell center">Event &amp; Studio Bookings</a></span>
  </div> <!-- nav -->

  <section class="newsletter column center">
    <h1 class="newsletter-h1">Freelance Better</h1>
    <h2 class="newsletter-h2">Learn about the best apps, services, and resources for freelancers and remote workers.</h2>
    <!-- MailChimp Signup -->
    <form class="input-group row" action="//weld.us4.list-manage.com/subscribe/post?u=065b63f81851e09661ae5d9e7&amp;id=9e477f073c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input class="input input-group-input" type="email" placeholder="beawesome@yourjob.com" name="EMAIL" id="mce-EMAIL" required>
      <input class="button input-group-button" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
    </form>
  </section>

  <footer class="footer row center">
    <div class="footer-wrap row center">        
      <a class="footer-item cell center" href="https://goo.gl/maps/xs55Z" target="_blank">2410 Farrington, Dallas, TX</a>
      <a class="footer-item cell center" href="https://goo.gl/maps/W1K8X" target="_blank">90 Oceanside, Nashville, TN</a> 
      <a class="footer-item cell center" href="http://twitter.com/weld" target="_blank">Twitter</a>
      <a class="footer-item cell center" href="http://instagram.com/weld" target="_blank">Instagram</a>
      <a class="footer-item cell center" href="http://facebook.com/weld" target="_blank">Facebook</a>
      <a class="footer-item cell center" href="/interns">Intern Program</a>
      <a class="footer-item cell center" href="/contact">Contact</a>
    </div>
  </footer> <!-- nav -->

{% endblock %}