{% extends 'templates/partials/base.html' %}
{% block content %}

<main class="intro-cover row center" data-vide-bg="mp4: /static/images/video/intro-video.mp4, poster: /static/images/video/intro-video-poster.jpg" data-vide-options="posterType: jpg">

  <div class="action-links">
    <a href="{{ url('articles') }}">Blog</a>
    <a href="http://welderwire.co/" target="_blank" data-event="Sign In">Sign In</a>
  </div>

  <span class="intro-wrap center">
    <img class="logo fade-down" src="/static/images/ui/weld-logo.svg" alt="WELD">
    <span class="intro js-typetype" data-typetype-text="{{ cms.homepage.intro }}"></span>
    <a href="/community" class="main-cta button-white opacity-0" data-event="{{ cms.homepage.cta }}">{{ cms.homepage.cta }}</a>
  </span>

  {% for item in cms.articles|sort('publish_date', true)|slice(0,1) %}
  <a href="{{ url(item) }}" class="news column center">
    <span class="faded">The Latest from the WELD Blog</span>
    <span>{{ item.name }}</a></span>
  </a>
  {% endfor %}

</main> <!-- intro-cover -->

{% include 'templates/partials/homepage-nav.html' %}
{% include 'templates/partials/newsletter.html' %}
{% include 'templates/partials/footer.html' %}

{% endblock %}
