{% extends 'templates/partials/nye.html' %}
{% block title %}NYE — WELD Nashville{% endblock %}

{% block content %}

<div id="main">
  <img src="/static/images/nye/nye2017.png">
  <p style="color:#ddd;">Come get your dance on and ring in the New Year with WELD! Limited tickets available. Beer, Wine & Bubbly Provided. Cheers!</p>
  <p style="color:#ddd;">Parking is limited and vehicles are not allowed overnight. We are partnering with LYFT and will be sending codes to all attendees for discounted rides. </p>
  <p style="font-weight:bold;">December 31st 2016</p>
  <p style="font-weight:bold;">10pm-1am</p>
  <p style="font-weight:bold;">$60 (21+ only) Price will increase to $100 on December 1, 2016.</p>
  <p style="font-weight:bold;">DJ Jared Foldy</p>
  <div style=" margin:0 auto; display:block; "> <a href="https://weldnashvillenye2017.eventbrite.co.uk" class="btn yellow">PURCHASE TICKETS</a></div>
</div>
<canvas id="world"></canvas>

{% endblock %}

{% block scripts_extra %}
  <script src="/static/scripts/nye.js"></script>
{% endblock %}
