{% extends 'templates/base.html' %}
{% block scheme %}light{% endblock %}
{% block title %}{{ cms.start.name }}{% endblock %}

{% block content %}
<a href="/" class="page-close column center"></a>
<a href="/" class="back-home cell center"></a>

<div class="column full-screen center">
  <div class="container">
    <h1 class="h1-large">Welcome!</h1>
    <div class="wysiwyg">
      {{ cms.start.body|safe }}
    </div>
    <a href="{{ cms.start.nashville_link }}" class="button" target="_blank">{{ cms.start.nashville_cta }}</a>
  </div>
</div>