article.row {
  @include small {
    flex-direction: column;
  }
}

.article-header {
  min-height: 500px;
  height: 85vh;
  @include small {
    position: relative;
    min-height: 420px;
    height: 60vh;
  }
}

.article-list-link {
  top: $padding-percent * 3;
  opacity: 0.5;
  font-size: 0.875rem;
  transition: opacity 300ms;
  &:hover { opacity: 1; }
  @include small {
    top: 65px;
    font-size: 0.75rem;
  }
}

.article-headline {
  font-size: 5vw;
  line-height: 1;
  @include small {
    font-size: 2rem;
  }
}

.article-intro {
  font-size: 2vmax;
  line-height: 1.4;

  a {
    color: $primary-color;
  }
  @include small {
    font-size: 1rem;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 1em;
}

.article-details {
  flex-grow: 0;
}

.article-date {
  font-weight: 500;
}

//====================================================
//  .article-content wraps all following styles
//====================================================

.article-content {
  font-size: 1.4rem;
  line-height: 1.6;
  color: $faded-black;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include small {
    font-size: 1rem;
  }

//====================================================
//  First paragraph of body content
//====================================================

> h1,
> h2,
> h3,
> h4,
> h5,
> h6,
> p,
> ul,
> ol {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  @include small {
    max-width: 35rem
  }
}

> p:first-child {
  font-size: 2.25rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  @include small {
    font-size: 1.4rem;
  }
}

> p:first-child:first-line {
  color: $primary-color;
}

//====================================================
//  Last paragraph of body content
//====================================================

> p:last-child:after {
  content: '\270D';
  color: $primary-color;
  font-size: 1.5rem;
  line-height: 0;
  vertical-align: middle;
}

//====================================================
//  Blockquotes
//====================================================

figure[data-type="quote"] {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  border-left: 5px solid $primary-color;
}

blockquote {
  color: $primary-color;
  font: italic 500 125%/1.5 $slab-font;
  padding-left: 1rem;
}

//====================================================
//  Lists
//====================================================

ul, ol {
  font: $base-font;
  font-weight: bold;
  line-height: 2;
  background-color: $lightest-grey;
  padding: 2rem;
  border-radius: $border-radius;
  list-style-position: inside;
}

//====================================================
//  Links
//====================================================

p > a { @extend .link; }

[data-type="image"] > a {
  cursor: zoom-in;
  &:after {
    display: none;
  }
}

//====================================================
//  Embedded Media & Galleries
//====================================================

figure,
.gallery-container  {
  margin: 3rem auto;
}

figure[data-type="image"] {
  max-width: 1200px;
  // Use the code below instead once we figure out
  // how to make wysiwyg images wider than 1200px
  @include small {
    width: calc(100% + 10vw);
    margin-left: -5vw;
  }
}

// Fill width of article-content
figure iframe,
.gallery-container {
  width: calc(100% + 10vw);
  margin-left: -5vw;
}

.gallery-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

figcaption {
  font: 300 0.75rem/1.4 $sans-font;
  color: $grey;
  margin-top: 0.5vw;

  > br {
    display: none;
  }
  @include small {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

.article-gallery-overlay {
  background: $bg-gradient-reverse;
  opacity: 0.5;
  pointer-events: none;
  z-index: 50;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

} // .article-content

//====================================================
//  Next/Prev Buttons
//====================================================

.next-item,
.prev-item {
  position: absolute;
  bottom: 0;
  padding-top: 12px;
  padding-bottom: 15px;
  width: 50%;
  overflow: hidden;
  background: $black;
  color: $white;
  opacity: 0.5;
  transition: opacity 300ms;

  .item-head {
    text-transform: uppercase;
    font-size: 10px;
    color: $grey;
  }

  .item-name {
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    // Imp. needed for adjacent button opacity
    // to not override hover effect
    opacity: 1 !important;
  }

  &:before {
    font-size: 16px;
    margin-top: 7px;
    position: absolute;
    color: $grey;
  }
}

.prev-item {
  left: 0;
  padding-right: 25px;
  padding-left: 40px;
  &:before {
    content: url(/static/images/ui/left-icon-small.svg);
    left: 15px;
  }
  + .next-item {
    opacity: 0.6;
  }
}

.next-item {
  right: 0;
  padding-right: 40px;
  padding-left: 25px;
  &:before {
    content: url(/static/images/ui/right-icon-small.svg);
    right: 15px;
  }
}

//====================================================
//  Sharing Buttons
//====================================================

.sharing-buttons {
  height: 2rem;
  filter: saturate(0.5);
  transition-duration: 300ms;
  transition-property: filter, -webkit-filter;
  &:hover,
  &:active {
    filter: saturate(1);
  }
  @include small {
    filter: none;
  }
}

.sharing-button {
  &:hover,
  &:active {
    .sharing-button-icon {
      opacity: 1;
    }
  }
}

.sharing-button-icon {
  width: 16px;
  height: 16px;
  opacity: 0.2;
  transition: opacity 400ms ease-out;
}

.sharing-button-facebook {
  background-color: #3b5998;
}

.sharing-button-twitter {
  background-color: #55acee;
}

.sharing-button-pinterest {
  background-color: #cc2127;
}

//====================================================
//  Disqus
//====================================================

.disqus-container {
  padding: 5% 10%;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

//====================================================
//  Sponsors
//====================================================

.blog-sponsor {
  background-color: $lightest-grey;
  @include small {
    flex-direction: column;
  }
}

.blog-sponsor-link {
  max-width: 100px;
  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.blog-sponsor-text {
  margin-bottom: 1rem;
  @include large {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

.blog-sponsor-image {
  vertical-align: middle;
}
