//====================================================
//  Page Themes
//====================================================

.dark {
  background: $black;
  color: #fff;
}

.light {
  background: $lightest-grey;
  color: $black;
}

.orange {
  background: $primary-color;
  color: white;
}
