/*====================================================
  Animations
====================================================*/

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-down {
  0% { opacity: 1; }
  100% { opacity: 0.25; }
}

@keyframes slide-down {
  0% { opacity: 0; transform: translateY(-10rem); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes slide-up {
  0% { opacity: 0; transform: translateY(10rem); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes scale-down {
  0% { opacity: 0; transform: scale(4); }
  100% { opacity: 1; transform: scale(1); }
}

@keyframes scaleInUp {
  0% { transform: scale(0); opacity: 0; }
  95% { transform: scale(1.2); opacity: 0.8; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes springy {
 0%, 100% { transform: scale(1); }
 75% { transform: scale(0.95); }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes wobble {
  15% { transform: translateX(0.5rem); }
  30% { transform: translateX(-0.4rem); }
  45% { transform: translateX(0.3rem); }
  60% { transform: translateX(-0.2rem); }
  75% { transform: translateX(0.1rem); }
  90% { transform: translateX(0); }
  90% { transform: translateX(0); }
}

@keyframes flipIn {
  0%   { opacity: 0; transform: scaleY(0); }
  100% { opacity: 1; transform: scaleY(1); }
}

.flipIn {
  animation: flipIn 200ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

.slideUp {
  animation: slide-up 200ms ease-in-out;
}