/*====================================================
    Buttons
====================================================*/

button {
  // Button Reset
  border: none;
  cursor: pointer;
  outline: none;
  user-select: none;
  white-space: nowrap;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.button {
  @extend button;
  // Base Styles
  display: inline-block;
  background: $primary-color;
  border-radius: 3px;
  filter: drop-shadow(0 4px 0 $red);
  padding: 1rem 2rem;

  // Contents
  text-align: center;
  color: white;
  font-family: $sans-font;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 3px;
  text-transform: uppercase;

  // Animation
  transition-duration: 200ms;
  // height transition is for isLoading indicator
  // opacity is for the .main-cta button
  transition:
    transform 200ms,
    background 200ms,
    opacity 1250ms 400ms,
    filter 200ms,
    -webkit-filter 200ms,
    height 200ms;

  &:hover {
    transform: translateY(-3px);
    color: white;
    background: $primary-color;
    filter: drop-shadow(0 4px 0 $red);
  }

  &:active {
    transform: translateY(-1px);
    transition: none;
  }

  // Space between buttons
  &.margin-right {
    margin-right: 1rem;
  }

  // Responsive
  @include small {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    // Contents
    font-size: 0.75rem;
    letter-spacing: 1px;
  }

  &-white {
    @extend .button;
    color: $primary-color;
    background-color: $white;
    filter: drop-shadow(0 4px 0 $lightest-grey);
  }

  &-black {
    @extend .button;
    color: white;
    background-color: $black;
    filter: drop-shadow(0 4px 0 $true-black);
  }

  &-grey {
    @extend .button;
    color: $black;
    background-color: $lightest-grey;
    filter: drop-shadow(0 4px 0 $middle-grey);
  }

  // Outline Buttons
  &-secondary {
    @extend .button;
    background-color: transparent;
    filter: none !important;
    box-shadow: inset 0 0 0 2px white;

    // Fill on hover
    &:hover {
      background-color: rgba(255,255,255,0.25);
    }
  }

  &:disabled {
    opacity: 0.6;
    transition: none;
    cursor: progress;
  }
}

.small-button {
  width: 60px;
  max-height: 45px;
  padding: 1rem 0;
  position: absolute;
  top: 2rem;
  right: 2rem;
  @media screen and (max-width: 400px) {
    position: initial;
  }
}

// Add class for icon
.download:before {
  content: url(../images/ui/download-icon.svg);
  margin-right: 1rem;
  display: inline-block;
  vertical-align: sub;
}

.book-icon:before {
  content: url(../images/ui/book-icon.svg);
  margin-right: 1rem;
  vertical-align: middle;
}

.add:before {
  content: url(../images/ui/add-icon.svg);
}

.added:before {
  content: url(../images/ui/check-icon.svg);
  animation: scaleInUp 250ms $cubic;
}
