/*====================================================
    Type
====================================================*/

$sans-font: 'Gotham SSm A', 'Gotham SSm B', Helvetica, sans-serif;
$slab-font: 'Vitesse SSm A', 'Vitesse SSm B', 'Gotham SSm A', 'Gotham SSm B', Helvetica, sans-serif;
$serif-font: 'Sentinel A', 'Sentinel B', 'Vitesse SSm A', 'Vitesse SSm B', 'Times New Roman', Georgia, sans-serif;
$base-font-size: 1rem;
$base-font-weight: 300;
$base-line-height: 1.6;
$base-font: $base-font-weight $base-font-size $sans-font;
$headline-font: 800 4.75vmin/1.2 $slab-font;

html {
  font-size: 100%;
}

body {
  font: $base-font;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  @include small {
    font-size: 0.75rem;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $slab-font;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1, .h1 {
  font-size: 2rem;
  font-weight: 800;
  @include small {
    font-size: 1.25rem;
  }
}

.h1-large {
  font-size: 2.75rem;
  line-height: 1;
  @include small {
    font-size: 2rem;
  }
}

h2, .h2 {
  font-size: 1.75rem;
  font-weight: 800;
  @include small {
    font-size: 1rem;
  }
}

h3, .h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  @include small {
    font-size: 1rem;
    line-height: 1.4;
  }
}

h4, .h4 {
  font-size: 1.25rem;
}

h5, .h5 {
  font-size: 1rem;
}

h6, .h6 {
  font-family: $sans-font;
  line-height: 1.6;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

.link {
  color: $primary-color;
  text-decoration: underline;
  position: relative; // for custom hover effect

  &:hover { text-decoration: none; }

  &:hover:after { transform: scaleY(1); }

  &:after {
    content: "";
    display: block;
    height: 100%;
    background-color: fade-out($primary-color, 0.8);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 300ms;
  }

  &:visited { color: inherit; }
}