{% extends 'templates/partials/base.html' %}
{% block scheme %}light{% endblock %}
{% block title %}Meet Our Community{% endblock %}

{% block content %}

<section class="page-container">
  <header class="community-header column center down-arrow depth-8">
    <h1 class="community-h1">The weld community</h1>
    <h2 class="community-h2">We believe that community is essential for creative growth and that sharing physical space is vital for providing the encouragement and resources to create our best work, to grow as individuals, and to cultivate meaningful relationships.</h2>
    <h3 class="community-h3">Meet just a few of our people, many more coming soon!</h3>
  </header>
  <div data-infinite-container data-search-index="true"><!-- content from community.js --></div>
  <div class="load-more row center full-w depth-9" data-event="Community Page - Load More" data-load-more>Meet More WELDERS</div>
</section>

<span class="modal fullscreen p3-percent row center depth-10">
  <div class="modal-message-wrap column center slideUp">
  <div class="modal-message-headline text-align-center sans-font uppercase tracked">That’s it for now. Get notified of updates!</div>
  <form class="input-group row" action="//weld.us4.list-manage.com/subscribe/post?u=065b63f81851e09661ae5d9e7&amp;id=9e477f073c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <input class="input input-group-input" type="email" placeholder="electronic@mail.com" name="EMAIL" id="mce-EMAIL" required>
    <input class="button input-group-button" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
  </form>
  </div>
  <span class="modal-background"></span>
</span>

<footer class="column center p3-percent">
  <h1 class="community-h2">Want to join our community?</h1>
  <a href="/apply" class="button" data-event="Community Page - Apply Now">Apply Now</a>
</footer>
{% endblock %}
